<p>
    <%if(locals.user.id==comment.user.id){%>
        <a href="/comments/destroy/<%=comment.id %>">X</a>
    <%}%>
    <%=comment.content%>
    <br>
    <small>
        <%=comment.user.name%>
    </small>
</p>
