<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
</head>
<body> -->
    <!-- <header>
        Page header
    </header> -->
    <!-- <%- include('_header.ejs'); %> -->
   
    <h1>Codeial for home/<%=title%></h1>
    <!-- <footer>
        Page Footer
    </footer> -->
    <!-- <%- include('_footer.ejs'); %> -->
<!-- </body>
</html> -->