<h1>SIGN IN</h1>

<form action="/users/create-session" method="POST">
<input type="text" name="email" placeholder="Yor email" required>
<input type="password" name="password" placeholder="Yor password" required>
<input  type="submit" value="Sign in">
</form>